{% extends 'AppBundle::base.html.twig' %}

{% block content %}

    <div class="landing" id="home">
        <div class="container">
            <div class="jumbotron">
                <h1>Clastic</h1>
                <p class="lead">
                    The CMF aimed at simplicity!
                </p>
            </div>
            <img class="hidden-xs" src="{{ asset('images/logo3-big-white.png') }}" alt=""/>
        </div>
    </div>

    <div class="divider"></div>

    <section class="landing-wide">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <span class="fa-stack fa-5x">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>{{ features[0].node.title }}</h3>
                    {{ features[0].teaser|raw }}
                </div>
                <div class="col-md-4 text-center">
                    <span class="fa-stack fa-5x">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-puzzle-piece fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>{{ features[1].node.title }}</h3>
                    {{ features[1].teaser|raw }}
                </div>
                <div class="col-md-4 text-center">
                    <span class="fa-stack fa-5x">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-code-fork fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>{{ features[2].node.title }}</h3>
                    {{ features[2].teaser|raw }}
                </div>
            </div>
        </div>
    </section>

    <section class="landing-text">
        <a id="about"></a>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="block">
                        <h2>About</h2>
                        {{ clastic_block('about') }}
                    </div>
                </div>
                <div class="col-md-7 features">
                    <h2 class="sr-only">Administration</h2>
                    <ul class="list-unstyled">
                        <li>
                            <span class="fa-fw fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                            </span>
                            <h3>{{ features[3].node.title }}</h3>
                            {{ features[3].teaser|raw }}
                        </li>
                        <li>
                            <span class="fa-fw fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                            </span>
                            <h3>{{ features[4].node.title }}</h3>
                            {{ features[4].teaser|raw }}
                        </li>
                        <li>
                            <span class="fa-fw fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-shield fa-stack-1x fa-inverse"></i>
                            </span>
                            <h3>{{ features[5].node.title }}</h3>
                            {{ features[5].teaser|raw }}
                        </li>
                    </ul>
                </div>
            </div>
            </div>
    </section>

    <section class="landing-wide">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>
                        <img class="img-responsive img-thumbnail" src="{{ asset('images/clastic-dashboard.png') }}" alt=""/>
                    </p>
                </div>
                <div class="col-sm-6">
                    <p>
                        <img class="img-responsive img-thumbnail" src="{{ asset('images/clastic-form.png') }}" alt=""/>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="landing-text">
        <a id="framework"></a>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-push-7">
                    <div class="block">
                        <h2>Framework</h2>
                        {{ clastic_block('framework') }}
                    </div>
                </div>
                <div class="col-md-7 col-md-pull-5 features">
                    <h2 class="sr-only">Development</h2>
                    <ul class="list-unstyled">
                        <li>
                            <span class="fa-fw fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-bolt fa-stack-1x fa-inverse"></i>
                            </span>
                            <h3>{{ features[6].node.title }}</h3>
                            {{ features[6].teaser|raw }}
                        </li>
                        <li>
                            <span class="fa-fw fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                            </span>
                            <h3>{{ features[7].node.title }}</h3>
                            {{ features[7].teaser|raw }}
                        </li>
                        <li>
                            <span class="fa-fw fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
                            </span>
                            <h3>{{ features[8].node.title }}</h3>
                            {{ features[8].teaser|raw }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="landing-wide">
        <a id="demo"></a>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="block">
                        <h2>Demo</h2>
                        {{ clastic_block('demo') }}
                    </div>
                </div>
                <div class="col-md-7 features">
                    <h2 class="sr-only">The next step</h2>
                    <ul class="list-unstyled">
                        <li>
                            <span class="fa-fw fa-stack fa-2x">
                                <i class="fa fa-play-circle fa-stack-2x"></i>
                            </span>
                            <h3>{{ features[9].node.title }}</h3>
                            {{ features[9].teaser|raw }}
                        </li>
                        <li>
                            <span class="fa-fw fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                            </span>
                            <h3>{{ features[10].node.title }}</h3>
                            {{ features[10].teaser|raw }}
                        </li>
                        <li>
                            <span class="fa-fw fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-slack fa-stack-1x fa-inverse"></i>
                            </span>
                            <h3>{{ features[11].node.title }}</h3>
                            {{ features[11].teaser|raw }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="landing-text">
        <a id="references"></a>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-push-7">
                    <div class="block">
                        <h2>References</h2>
                        {{ clastic_block('references') }}
                    </div>
                </div>
                <div class="col-md-7 col-md-pull-5 references">
                    {% for reference in references %}
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="{{ reference.link }}">
                                    <img class="media-object" src="{{ asset(reference.screenshot) }}"/>
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{ reference.node.title }}</h4>
                                <p></p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
